.left-side{
    border: 1px solid gray;
}
.cart-style{
    background-color: khaki;
}
.added-cart{
    margin: 10px;
    border: 1px solid rgb(29, 28, 28);
    padding: 10px;
    background-color: rgb(91, 91, 94);
}